@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
  }
}

/* #region  /**=========== Scrollbar =========== */

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar,
  .scrollbar ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track,
  .scrollbar ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb,
  .scrollbar ::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    opacity: 0.5;
  }
  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active,
  .scrollbar ::-webkit-scrollbar-thumb:hover,
  .scrollbar ::-webkit-scrollbar-thumb:active {
    background: #a7a7a7;
  }
}

/* Firefox */
html,
.scrollbar {
  scrollbar-width: thin;
}
/* #endregion  /**======== Scrollbar =========== */
